@model VehicleSalesContractVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="bread-crumb">
        <a href="/" title="Trang chủ">Trang chủ</a>
        <a href="@Model.Seos.Path.GetUrl()" title="@Model.SeoName.GetTitle()">@Model.SeoName</a>
    </div>
    <div class="section-header">
        <h1 class="title-header-1">@Model.SeoHeader</h1>
    </div>
    <section class="section section-shadow">
        <header class="section-header fixmobi">
            @if (!string.IsNullOrWhiteSpace(Model.SeoDescription))
            {
                @Html.Raw(Model.SeoDescription)
            }
        </header>
        <div class="row-ketqua hidden">
            @if (!string.IsNullOrWhiteSpace(Model.SeoFooter))
            {
                @Html.Raw(Model.SeoFooter)
            }
        </div>
        <form action="@Url.Action("VehicleSalesContract", "NotarizationFee")" class="section-content" data-ajax="true" data-ajax-begin="app.ajaxEvents.OnBegin" data-ajax-complete="app.ajaxEvents.OnComplete" data-ajax-method="Post" data-ajax-success="app.ajaxEvents.OnSuccess" method="post" novalidate="novalidate">
            @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="LoaiXe">LOẠI XE</label>
                        @Html.DropDownListFor(m => m.VehicleTypeId, new SelectList(Model.VehicleTypesList, "VehicleTypeId", "Description", Model.VehicleTypeId).AddDefaultOption("--Chọn Loại Xe--", "0"), new { @class = "form-control select2", style = "width: 100%" })
                        @Html.ValidationMessageFor(m => m.VehicleTypeId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="Giaxemoi">GIÁ XE MỚI (VNĐ)</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control input-amount currency", autocomplete = "off", placeholder = "Nhập giá xe mới" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                        <div style="font-style:italic; font-size: 13px;">
                            <span>(Ví dụ: Bạn cần kiểm tra phí công chứng chiếc xe mercedes E300 mà bạn đang sử dụng. Vậy bạn phải nhập giá mới của chiếc xe E300. Máy tính sẽ căn cứ vào ngày/tháng/năm đăng ký lần đầu để tính khấu hao giá trị còn lại)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>NĂM ĐĂNG KÝ</label>
                    <div class="row">
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.Day, new SelectList(Model.DaysList, "Id", "Name", Model.Day).AddDefaultOption("Ngày", "0"), new { @class = "form-control select2", style = "width: 100%" })
                            @Html.ValidationMessageFor(m => m.Day, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.Month, new SelectList(Model.MonthsList, "Id", "Name", Model.Month).AddDefaultOption("Tháng", "0"), new { @class = "form-control select2", style = "width: 100%" })
                            @Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-4">
                            @Html.DropDownListFor(m => m.Year, new SelectList(Model.VehicleRegistrationYearsList, "Value", "Value", Model.Year).AddDefaultOption("Năm", "0"), new { @class = "form-control select2", style = "width: 100%" })
                            @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                        </div>
                        <div style="padding-left: 15px; padding-right: 15px; font-style:italic; font-size: 13px;">
                            <span>(Thời gian đăng ký lần đầu của xe ô tô bạn cần kiểm tra phí công chứng)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-div">
                <a href="/" title="Quay lại" class="btn-quaylai go-back">Quay lại</a>
                <span class="btn-ketqua btn-submit">Xem kết quả</span>
            </div>
        </form>
    </section>
</div>