@using tinhphicongchung.com.helper
@using tinhphicongchung.com.library
@model LocationVM
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col-md-12 ms-auto">
                <form action="@Url.Action("Index" , "Location", new { Area = "Admin" })" class="form-group row" method="get">
                    <div class="col-md-2 mb-3">
                        @Html.TextBoxFor(x => x.Keywords, new { @class = "form-control", placeholder = "Mô tả vị trí (Đoạn Đường)" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.DistrictId, new SelectList(Model.DistrictsList, "DistrictId", "Name", Model.DistrictId).AddDefaultOption("-- Chọn Quận / Huyện --", "0"), new { @class = "form-select load-wards select2 push" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.WardId, new SelectList(Model.WardsList, "WardId", "Name", Model.WardId).AddDefaultOption("-- Chọn Phường / Xã --", "0"), new { @class = "form-select load-streets select2 push" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.StreetId, new SelectList(Model.StreetsList, "StreetId", "Name", Model.StreetId).AddDefaultOption("-- Chọn Đường / Phố --", "0"), new { @class = "form-select select2 push" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.LocationTypeId, new SelectList(Model.LocationTypesList, "LocationTypeId", "Description", Model.LocationTypeId).AddDefaultOption("-- Chọn loại Vị trí --", "0"), new { @class = "form-select select2 push" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.LandTypeId, new SelectList(Model.LandTypesList, "LandTypeId", "Description", Model.LandTypeId).AddDefaultOption("-- Chọn loại đất --", "0"), new { @class = "form-select select2" })
                    </div>
                    <div class="col-md-2 mb-3">
                        @Html.DropDownListFor(m => m.StatusId, new SelectList(Model.StatusList, "StatusId", "Description", Model.StatusId).AddDefaultOption("-- Chọn trạng thái --", "0"), new { @class = "form-select select2" })
                    </div>
                    <div class="col-md-2 mb-3">
                        <div class="btn-list flex-nowrap">
                            <button type="submit" class="btn btn-primary btn-search">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="10" cy="10" r="7"></circle>
                                    <line x1="21" y1="21" x2="15" y2="15"></line>
                                </svg>
                                Tìm kiếm
                            </button>
                            <a href="javascript:void(0)" data-url="@Url.Action("Add", "Location", new { Area = "Admin" })" data-w="800" title="Thêm Vị trí" class="btn btn-teal d-sm-inline-block add-form">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                Thêm mới
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="row row-cards">
            <div id="table-result" class="col-12">
                <div class="col">
                    <div class="page-pretitle">
                        Danh sách Vị trí
                        @if (Model.Pagination.RowCount > 0)
                        {
                            <span class="text-muted mt-1">(@Model.Pagination.RowCount.ToString("#,###"))</span>
                        }
                    </div>
                </div>
                <div class="card">
                    @if (Model.LocationsList.IsAny())
                    {
                        int number = 0;
                        Status status = null;
                        LocationTypes locationTypes = null;
                        LandTypes landTypes = null;
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mô tả vị trí</th>
                                        @*<th>Mô tả</th>*@
                                        <th>Đường Phố</th>
                                        <th>Loại vị trí</th>
                                        <th>Loại đất</th>
                                        <th>Giá (Đ/M2)</th>
                                        <th>Trạng thái</th>
                                        <th>Người tạo</th>
                                        <th>Người sửa</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int index = 0; index < Model.LocationsList.Count; index++)
                                    {
                                        if (Model.StatusList.IsAny())
                                        {
                                            status = Status.Static_Get(Model.LocationsList[index].StatusId, Model.StatusList);
                                        }

                                        if (Model.LocationTypesList.IsAny())
                                        {
                                            locationTypes = LocationTypes.Static_Get(Model.LocationsList[index].LocationTypeId, Model.LocationTypesList);
                                        }

                                        if (Model.LandTypesList.IsAny())
                                        {
                                            landTypes = LandTypes.Static_Get(Model.LocationsList[index].LandTypeId, Model.LandTypesList);
                                        }
                                        number = index + (Model.Pagination.PageIndex > 0 ? Model.Pagination.PageIndex - 1 : Model.Pagination.PageIndex) * Model.Pagination.PageSize + 1;
                                        <tr>
                                            <td class="text-muted">@number.ToString("#,###")</td>
                                            <td>@Model.LocationsList[index].Name</td>
                                            @*<td>@Model.LocationsList[index].Description</td>*@
                                            <td>
                                                <div class="row">
                                                    <div class="col">
                                                        @Model.LocationsList[index].StreetName
                                                    </div>
                                                    <small class="text-muted">@Model.LocationsList[index].WardName - @Model.LocationsList[index].DistrictName - @Model.LocationsList[index].ProvinceName</small>
                                                </div>
                                            </td>
                                            <td>
                                                @if (locationTypes != null && !string.IsNullOrWhiteSpace(locationTypes.Name))
                                                {
                                                    <span>@locationTypes.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @if (landTypes != null && !string.IsNullOrWhiteSpace(landTypes.Name))
                                                {
                                                    <span>@landTypes.Name</span>
                                                }
                                            </td>
                                            <td>@Model.LocationsList[index].Price.ToString("#,###")</td>
                                            <td>
                                                @if (status != null && !string.IsNullOrWhiteSpace(status.Name))
                                                {
                                                    <span class="badge @status.StatusId.ActionStatusBootstrap()">@status.Name</span>
                                                }
                                            </td>
                                            <td class="text-muted">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="text-truncate">
                                                            <strong>@Model.LocationsList[index].CreatedBy</strong>
                                                        </div>
                                                        <div class="text-muted">@Model.LocationsList[index].CrDateTime.TimeAgo()</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-muted">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="text-truncate">
                                                            <strong>@Model.LocationsList[index].UpdatedBy</strong>
                                                        </div>
                                                        <div class="text-muted">@Model.LocationsList[index].UpdDateTime.TimeAgo()</div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btn-list flex-nowrap">
                                                    <a href="javascript:void(0)" class="edit-form" title="Cập nhật thông tin" data-w="800" data-url="@Url.Action("Edit", "Location", new { Area = "Admin", LocationId = Model.LocationsList[index].LocationId })">
                                                        <span class="nav-link-icon d-md-none d-lg-inline-block">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path>
                                                                <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path>
                                                                <path d="M16 5l3 3"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                    <a href="javascript:void(0)" class="delete-item" data-url="@Url.Action("Erase", "Location", new { Area = "Admin", LocationId = Model.LocationsList[index].LocationId })" title="Xóa Vị trí">
                                                        <span class="nav-link-icon d-md-none d-lg-inline-block text-danger">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                                <line x1="4" y1="7" x2="20" y2="7"></line>
                                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            @Html.Partial("PartialPagination", Model.Pagination)
                        </div>
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="card card-md">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-10">
                                            <div class="text-muted">
                                                Không tìm thấy Vị trí phù hợp.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>