@using tinhphicongchung.com.library
@using tinhphicongchung.com.Models
@model BaseViewModel
@{
    List<MenuItems> menuItemsList = null;
    if (Model.MenuItemsList.IsAny())
    {
        menuItemsList = Model.MenuItemsList.FindAll(x => x.MenuId == 1001);
    }
}
<footer class="footer">
    <div class="main-footer">
        <div class="footer-col1">
            <a class="maps" href="https://congchungnguyenvietcuong.com/lien-he.html"><img src="/assets/images/google-maps.jpg" alt="google map" /></a>
            <div class="section-content">
                <p>
                    <a href="https://congchungnguyenvietcuong.com/lien-he.html" class="btn-primary" style="display: block;background: cadetblue;margin: 5px 0;height: 36px;line-height: 36px;text-align: center;text-transform: uppercase;color: #fff !important;font-size: 16px;">Xem đường đi</a>
                </p>
                <p>
                    <a href="https://www.congchungnguyenvietcuong.com/phi-cong-chung.html" class="btn-primary" style="display: block;background: tomato;margin: 5px 0;height: 36px;line-height: 36px;text-align: center;text-transform: uppercase;color: #fff !important;font-size: 16px;">Phí công chứng</a>
                </p>
            </div>
        </div>
        <div class="footer-col2">
            @if (Model.Pages != null)
            {
                if (!string.IsNullOrWhiteSpace(Model.Pages.Name))
                {
                    <div class="footer-title">@Model.Pages.Name</div>
                }
                <div class="adress">
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Address))
                    {
                        <p>Địa chỉ: @Model.Pages.Address </p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Hotline1) && !string.IsNullOrWhiteSpace(Model.Pages.Hotline2))
                    {
                        <p>Hotline: @Model.Pages.Hotline1 - @Model.Pages.Hotline2</p>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.Pages.Hotline1))
                    {
                        <p>Hotline: @Model.Pages.Hotline1</p>
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.Pages.Hotline2))
                    {
                        <p>Hotline: @Model.Pages.Hotline2</p>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Email))
                    {
                        <p>Email: @Model.Pages.Email </p>
                    }
                </div>
                @Html.Raw(Model.Pages.SeoFooter)
                <div class="post-social">
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Facebook))
                    {
                        <a href="@Model.Pages.Facebook" target="_blank" rel="nofollow"><span class="icon-social2 facebook"><i class="fa fa-facebook"></i></span></a>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Twitter))
                    {
                        <a href="@Model.Pages.Twitter" target="_blank" rel="nofollow"><span class="icon-social2 twitter"><i class="fa fa-twitter"></i></span></a>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.LinkedIn))
                    {
                        <a href="@Model.Pages.LinkedIn" target="_blank" rel="nofollow"><span class="icon-social2 linkedin"><i class="fa fa-linkedin"></i></span></a>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.Pages.Youtube))
                    {
                        <a href="@Model.Pages.Youtube" target="_blank" rel="nofollow"><span class="icon-social2 youtube"><i class="fa fa-youtube"></i></span></a>
                    }
                </div>
            }
            <div class="thongke-mobi">
                THỐNG KÊ
                @if (Model.HitCounter != null)
                {
                    <p>Lượt truy cập: @Model.HitCounter.Value.ToString("#,###")</p>
                }
                <p>Đang online: @Model.VisitorOnline.ToString("#,###")</p>
            </div>
        </div>
    </div>
</footer>
<aside data-pushbar-id="left" class="pushbar from_left">
    <span data-pushbar-close class="btn-pushbar-close"><i class="fa fa-arrow-left icon-bacck"></i></span>
    @if (menuItemsList.IsAny())
    {
        <nav>
            @foreach (var item in menuItemsList)
            {
                <a class="menu-list" href="@item.Path.GetUrl()" title="@item.Name.GetTitle()">@item.Name</a>
            }
        </nav>
    }
</aside>
@if (Model.Pages != null)
{
    if (!string.IsNullOrWhiteSpace(Model.Pages.Hotline1))
    {
        <a href="tel:@Model.Pages.Hotline1" rel="nofollow" class="icon_footer callhotline" title="Hotline">
            <img src="/assets/images/call.png" alt="call" /><span class="fa-hotline">@Model.Pages.Hotline1</span>
        </a>
    }
    if (!string.IsNullOrWhiteSpace(Model.Pages.Name) && !string.IsNullOrWhiteSpace(Model.Pages.Address) && !string.IsNullOrWhiteSpace(Model.Pages.Hotline1) && !string.IsNullOrWhiteSpace(Model.Pages.Email))
    {
        <a href="mailto:@Model.Pages.Email?subject=[Gửi Tài Liệu]&amp;body=@Model.Pages.Name @Model.Pages.Address hân hạnh phục vụ quý khách. Hotline: @Model.Pages.Hotline1" target="_blank" rel="nofollow" class="icon_footer ic-email" title="Gửi email"><img src="/assets/images/email.png" alt="Gửi email" /></a>
    }
    if (!string.IsNullOrWhiteSpace(Model.Pages.Hotline1))
    {
        <a href="http://zalo.me/@Model.Pages.Hotline1.Replace(".", "").Replace(",", "").Replace(" ", "")" target="_blank" rel="nofollow" class="icon_footer ic-zalo" title="Hỗ trợ Zalo"><img src="/assets/images/zalo.png" alt="Hỗ trợ Zalo" /></a>
    }
}